{% extends "base.html" %}

{% block title %}Contacts{% endblock %}

{% block header %}
    <a href="{% url contact_edit %}" style="float: right;">Edit</a>
    <h1>42 Coffee Cups Test Assignment</h1>
{% endblock %}

{% block content %}
<article>
    <div class="left-column">
        <p>Name: {{ contact.name }}</p>
        <p>Last name: {{ contact.last_name }}</p>
        <p>Date of birth: {{ contact.birth_date }}</p>
        Photo:<br />
        {% if contact.photo %}
            <img src="{{ contact.photo.url }}" alt="Photo" />
        {% endif %}
    </div>
    <div class="right-column">
        <p>Contacts</p>
        <p>Email: {{ contact.email }}</p>
        <p>Jabber: {{ contact.jabber }}</p>
        <p>Skype: {{ contact.skype }}</p>
        <p>Other contacts:</p>
        {{ contact.other_contacts|linebreaks }}
        <p>Bio:</p>{{ contact.bio|linebreaks }}
    </div>
</article>
{% endblock %}
{% block footer %}
<hr />
<a href="{% url requests_view %}">requests</a>
{% endblock %}
