{% extends "base.html" %}

{% block title %}Contacts{% endblock %}

{% block header %}
    <a href="{% url contact_edit %}" style="float: right;">Edit</a>
    <h1>42 Coffee Cups Test Assignment</h1>
{% endblock %}

{% block content %}
<style>
.left-column { float:left; width: 50%; }
.right-column { float:right; width: 50%; }
footer {clear: both;}
</style>
<article>
    <div class="left-column">
        <p>Name: {{ info.name }}</p>
        <p>Last name: {{ info.last_name }}</p>
        <p>Date of birth: {{ info.birth_date }}</p>
        Photo:<br />
        {% if info.photo %}
            <img src="{{ info.photo.url }}" alt="Photo" />
        {% endif %}
    </div>
    <div class="right-column">
        <p>Contacts</p>
        <p>Email: {{ info.email }}</p>
        <p>Jabber: {{ info.jabber }}</p>
        <p>Skype: {{ info.skype }}</p>
        <p>Other contacts:</p>
        {{ info.other_contacts|linebreaks }}
        <p>Bio:</p>{{ info.bio|linebreaks }}
    </div>
</article>
{% endblock %}
{% block footer %}
<hr />
<a href="{% url requests_view %}">requests</a>
{% endblock %}
