{% extends "base.html" %}

{% block title %}Contacts{% endblock %}

{% block content %}
<article>
    <h1>42 Coffee Cups Test Assignment</h1>
    <div class="right-column">
        <p>Contacts</p>
        <p>Email: {{ info.email }}</p>
        <p>Jabber: {{ info.jabber }}</p>
        <p>Skype: {{ info.skype }}</p>
        <p>Other contacts:</p>
        {{ info.other_contacts|linebreaks }}
    </div>
    <div class="left-column">
        <p>Name: {{ info.name }}</p>
        <p>Last name: {{ info.last_name }}</p>
        <p>Date of birth: {{ info.birth_date }}</p>
        <p>Bio:</p>{{ info.bio|linebreaks }}
    </div>

</article>
{% endblock %}
